<html>

<head>
    <title>Login</title>
    <meta charset="utf-8">
</head>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<body>
        
    <h2><b>Login</b></h2>
    <div class="containe">
    <div class="form-group">
    <form method="post" action="/loggedin">
    <Label>Email</Label><br>
    <input type="text" class="form-control" name="lUsername" placeholder="Enter Email" required><br>
    <Label>Password</Label><br>
    <input type="password" class="form-control" name="lPassword" placeholder="Enter Password" required><br><br>
    <button>Login</button><br>
        <p><b>New Here?<a href="/registration">Register now</a></b></p>
    </div>
        </form>
        
    </div>
    
    <script src="js/login.js"></script>
    
</body>

    
</html>
