.containe{
    margin-left: 40%;
    margin-top: 20px;
}

h2{
  font-size:50%;
  text-align:center;
}
label{
    padding:3px;
    font-size: 120%;
}
  
input[type=text],input[type=password]{
border-radius:5px;
 width:30%;
 height:40px;
 padding:10px;
display:inline-block; 

}

button{
  width:15%;
  background-color:#4CAF50;
  border-radius:15px;
  cursor:pointer;
  padding:5px;
  border:none;
margin-left:0%;
}
